.reveal {
    /* eh, doesn't help for bluer either... */
    /* font-family: Helvetica, sans-serif; */
}

.reveal .noreveal { visibility: hidden; }
/* TODO differentiate */
.reveal .noexport { color: red; }

.reveal .slide-footer {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    font-size: small;
}

/* TODO ?? .reveal aside.notes */
