.reveal {
    /* eh, doesn't help for bluer either... */
    /* font-family: Helvetica, sans-serif; */
}

/* eh, ok, that doesn' work */
/* .reveal .noreveal { visibility: hidden; } */
/* TODO differentiate */
.reveal .noexport { color: red; }

.reveal .slide-footer {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    font-size: small;
}

/* TODO ?? .reveal aside.notes */

.reveal .present {
    text-align: left;
}

.reveal #slide-fin p {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

.reveal blockquote {
    width: 90%;
}
